html {
    height: 100%;
    background-color: #EEE;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

h1, h2, h3, p, li, figcaption, a {
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none;              /* Chrome, Opera, others */
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

p, li, figcaption {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

a {
    color: inherit;
}

figcaption {
    font-size: 0.8em;
}

figure, img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

@media (min-width: 1020px) {
    .floatleft {
        float: left;
    }
    .textcon {
        width: 580px;
    }
    .floatright {
        float: right;
    }
    h2 {
        clear: both;
    }
}

.intro {
    font-size: 1.2em;
}

.ref {
    color: inherit;
    text-decoration: inherit;
    font-weight: 500;
    font-size: 0.8em;
}

.toggle {
    margin: 0;
    transition-duration: 500ms;
}

.toggle:hover {
    cursor: pointer;
    color: #777;
}

.togglebox {
    display: none;
}

.breakfloat {
    clear: both;
}

#warning {
    float: right;
    width: 100px;
}